body {
	background: rgba(0, 0, 0, 1);
}
.arcade-character {
	position:relative;
	margin-left: 40%;
	margin-top: 12%;

}
.led {
	background-color: #F3F3F3;
	display: block;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0);
	position:absolute;
	top:0;
	left:0;
}
.led--on {
	background: #DBF20C;
}

.led--off {
	background: rgba(255, 255, 0, 0);
}